// Colors
$black: #000;
$darkBlue1: #192135;
$darkBlue2: #121826;
$elephantGrey: #B0B7C9;
$lightBlue: #5A97FF;
$gradientBlue: linear-gradient($darkBlue1, $darkBlue2);
$green: #30A64A;
$red: #DA3849;
$slateGrey: #272E3B;
$white: #FFF;

//Other Variables
$radius: 5px;

//Global settings
body, html {
  box-sizing: border-box;
  height: 100%;
  background-color: $darkBlue1;
}

//Overwriting Bootstrap Styles

.btn-darkBlue {
  background-color: $darkBlue2;
  color: $white;
}

.btn-outline-darkBlue {
  background: none;
  border: 1px solid $darkBlue2;
  color: $darkBlue2;
}

.btn-outline-white {
  border: 1px solid $white;
  color: $white;
  transition: all .2s ease;
  background-color: transparent;
  cursor: pointer;
  &:hover {
    background-color: $elephantGrey;
    border: 1px solid $elephantGrey;
  }
}

.nav-link.active {
  color: $green;
}

// App-wide styles
.habit-list,
.stat-list,
.stat-streak {
  padding-left: 0;
  list-style: none;
  margin: 0;
}

.stat-streak,
.habit-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  .mobile-day-header {
    display: none;
    @media (max-width: 989px) {
      display: block;
      color: $elephantGrey;
      text-align: center;
      padding: 0;
      margin: 0;
    }
  }
}

.habit-list {
  justify-content: flex-start;
}

.performed-habit {
  border-radius: 50%;
  height: 35px;
  width: 35px;
  border: 1px solid $green;
  display: flex;
  justify-content: center;
  align-items: center;
}

.neutral-habit {
  border-radius: 50%;
  height: 35px;
  width: 35px;
  border: 1px solid $elephantGrey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.failed-habit {
  border-radius: 50%;
  height: 35px;
  width: 35px;
  border: 1px solid $red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bonus-badge {
  height: 20px;
  width: 20px;
}

.sleep-entry-card {
  background: $darkBlue2;
  &.night-card {
    border: 1.5px solid #314268;
  }
}
